ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  border-left: 5px solid red;
  background-color: #f1f1f1;
}

ul>li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}
/*header*/


/*input*/


input[type='checkbox'] {
  display: none;
}

input[type='radio']{
	display: none;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.0rem;
  /*text-transform: uppercase;*/
  text-align: left;

  padding: 1rem;

  color: 5D463D;
  background: #DC758F;

  cursor: pointer;

  /*border-radius: 9px;*/
  transition: all 0.30s ease-out;
}

.lbl-toggle:hover {
  color: #00D1A8;
}

.lbl-toggle::before {
  content: '  ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;

  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}
.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}